<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.xxx.advisoryCore.Mapper.DerivedFactorMapper">

    <insert id="insertDerivedFactors" parameterType="java.util.List">
        INSERT INTO derived_factors (derived_id, base_id, weight)
        VALUES
        <foreach collection="factors" item="factor" separator=",">
            ( #{factor.baseId}, #{factor.weight})
        </foreach>
    </insert>
    
    <delete id="deleteByDerivedId" parameterType="java.lang.Integer">
        DELETE FROM derived_factors WHERE derived_id = #{derivedId}
    </delete>
    
    <select id="countByDerivedId" parameterType="java.lang.Integer" resultType="java.lang.Integer">
        SELECT COUNT(*) FROM derived_factors WHERE derived_id = #{derivedId}
    </select>

    <!-- 插入衍生因子定义，返回自增ID -->
    <insert id="insertDerivedFactorDefinition" useGeneratedKeys="true" keyProperty="definitionid">
        INSERT INTO factor_definitions
        (name, display_name, factor_type, data_type, calc_method, update_frequency, enabled)
        VALUES
        (#{name}, #{displayName}, #{factorType}, #{dataType}, #{calcMethod}, #{updateFrequency}, #{enabled})
    </insert>

</mapper>
