<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xxx.advisoryCore.Mapper.AssetAllocationMapper">
    <!-- 插入策略组合 -->
    <insert id="insertAssetAllocation" parameterType="com.xxx.advisoryCore.Entity.AssetAllocation">
        INSERT INTO asset_allocation (
            name, benchmark, feature, audience, method, weight_type, fund_code, risk_level
        ) VALUES (
            #{name}, #{benchmark}, #{feature}, #{audience}, #{method}, #{weightType}, #{fundCode}, #{riskLevel}
        )
    </insert>
</mapper> 