<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.xxx.advisoryCore.Mapper.ConstraintItemMapper">

    <!-- 新增具体约束项 -->
    <insert id="insertConstraintItem" parameterType="com.xxx.advisoryCore.Entity.ConstraintItem">
        INSERT INTO constraint_items (
            group_id, type, param_name, operator, threshold, condition_relation
        ) VALUES (
            #{groupId}, #{type}, #{paramName}, #{operator}, #{threshold}, #{conditionRelation}
        )
    </insert>

</mapper> 