<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.xxx.advisoryCore.Mapper.FundTagMapper">
    <resultMap id="PositionResultMap" type="com.xxx.advisoryCore.Entity.FundTag">
        <result property="fundCode" column="fund_code"/>
    </resultMap>
</mapper>